.overlay {
  position: fixed;

  inset: 0;

  background: var(--color-blue-20);
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    position: relative;

    width: 100%;
    max-width: 540px;
    background: var(--color-white);
    border-radius: 8px;
    padding: 40px clamp(25px, 5vw, 40px);
    overflow: auto;
    max-height: 90vh;

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      opacity: 0.5;
      transition: 0.4s;

      &:hover {
        opacity: 1;
      }
    }
  }
}
