.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 16px;

  &.big {
    max-width: 1240px;
  }

  &.small {
    max-width: 820px;
  }

  &.extra-small {
    max-width: 440px;
  }
}
