:root {
  --font-primary: "Inter", sans-serif;  
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-20: #00000033;
  --color-black-40: #00000066;
  --color-black-50: #00000080;
  --color-blue: #7c65ff;
  --color-blue-20: #7c65ff33;
  --color-red: #ff6565;
  --color-green: #31ab72;
  --color-gray: #f1f1f1;
}
