.card{
    border-radius: 8px;
    border: 1px solid var(--color-black-20);
    background: var(--color-white);
    overflow: hidden;

    transition: 0.4s;

    &:hover{
        border-color: var(--color-blue);
    }
    
    a{
        display: flex;
        align-items: center;

        min-height: 315px;

        & > img{
            width: 100%;
            max-width: 380px;
            height: 315px;
            object-fit: cover;
        }

        .content{
            width: 100%;

            padding: 30px;

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }
    }
}