.section{
    padding: 60px 0;
    height: calc(100vh - 150px);

    display: flex;
    align-items: center;
    justify-content: center;

    &.white{
        background: var(--color-white);
    }

    &.gray{
        background: var(--color-gray);
    }
}