.box{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;

    section{
        width: 100%;
    }

    aside{
        min-width: clamp(0px, 100%, 310px);
    }

    @media (max-width: 700px){
        flex-direction: column;

        aside{
            min-width: unset;
            width: 100%;
        }
    }
}